@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
   ViewData["Title"] = "List";
}

<h1>Restaurants</h1>

<form method="get">
   <div class="form-group">
      <input type="search" class="form-control" name="" value="" />
      <span class="input-group-append">
         <button class="btn btn-outline-secondary">
            <i class=""></i>
         </button>
      </span>
   </div>
</form>

<table class="table">
   <thead>
      <tr>
         <th>Name</th>
         <th>Location</th>
         <th>Cuisine</th>
      </tr>
   </thead>
   <tbody>
      @foreach (var restaurant in Model.Restaurants)
      {
         <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.CuisineType</td>
         </tr>
      }
   </tbody>
</table>

